<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/card/1.3.2/js/card.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/card/1.3.2/js/jquery.card.js"></script>
      <script>
        new Card({
            form: document.querySelector('form'),
            container: '.card-wrapper',
                formSelectors: {
        numberInput: 'input#cardNumber', // optional — default input[name="number"]
        expiryInput: 'input#cardExpiry', // optional — default input[name="expiry"]
        cvcInput: 'input#cardCVC', // optional — default input[name="cvc"]
        nameInput: 'input#name' // optional - defaults input[name="name"]
    },

        });
    </script>
  </body>
</html>

    // <script>
//       var card = new Card({
//     // a selector or DOM element for the form where users will
//     // be entering their information
//     // form: 'form', // *required*
//     form: '#product-form',
//     // a selector or DOM element for the container
//     // where you want the card to appear
//     container: '.card-wrapper', // *required*

//     formSelectors: {
//         numberInput: 'input#card-number', // optional — default input[name="number"]
//         expiryInput: 'input#exp', // optional — default input[name="expiry"]
//         cvcInput: 'input#cvv', // optional — default input[name="cvc"]
//         nameInput: 'input#card-holder-name' // optional - defaults input[name="name"]
//     },

//     width: 200, // optional — default 350px
//     formatting: true, // optional - default true

//     // Strings for translation - optional
//     messages: {
//         validDate: 'valid\ndate', // optional - default 'valid\nthru'
//         monthYear: 'mm/yyyy', // optional - default 'month/year'
//     },

//     // Default placeholders for rendered fields - optional
//     placeholders: {
//         number: '•••• •••• •••• ••••',
//         name: 'Full Name',
//         expiry: '••/••',
//         cvc: '•••'
//     },

//     // if true, will log helpful messages for setting up Card
//     debug: false // optional - default false
// });
//     </script>