{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <!--<div class="container">-->

    <!--<h1>{{ productInfo.productName }}</h1>-->
    <!--<p>{{ productInfo.productDescription }}</p>-->
    <!--<p>{{ productInfo.productPrice }}</p>-->

  <!--  <p id="form-errors"></p>-->

    <!--<form class="form-horizontal" role="form" id="product-form" action="/charge" method="post">-->
    <!--  <fieldset>-->
    <!--    <legend>Payment of {{amount}} to Waylo</legend>-->
    <!--    <div class="form-group">-->
    <!--      <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>-->
    <!--      <div class="col-sm-9">-->
    <!--        <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="form-group">-->
    <!--      <label class="col-sm-3 control-label" for="card-number">Card Number</label>-->
    <!--      <div class="col-sm-9">-->
    <!--        <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="form-group">-->
    <!--      <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>-->
    <!--      <div class="col-sm-9">-->
    <!--        <div class="row">-->
    <!--          <div class="col-xs-3">-->
    <!--            <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">-->
    <!--              <option>Month</option>-->
    <!--              <option value="01">Jan (01)</option>-->
    <!--              <option value="02">Feb (02)</option>-->
    <!--              <option value="03">Mar (03)</option>-->
    <!--              <option value="04">Apr (04)</option>-->
    <!--              <option value="05">May (05)</option>-->
    <!--              <option value="06">June (06)</option>-->
    <!--              <option value="07">July (07)</option>-->
    <!--              <option value="08">Aug (08)</option>-->
    <!--              <option value="09">Sep (09)</option>-->
    <!--              <option value="10">Oct (10)</option>-->
    <!--              <option value="11">Nov (11)</option>-->
    <!--              <option value="12">Dec (12)</option>-->
    <!--            </select>-->
    <!--          </div>-->
    <!--          <div class="col-xs-3">-->
    <!--            <select class="form-control" name="expiry-year" id="expiry-year">-->
    <!--              <option value="16">2016</option>-->
    <!--              <option value="17">2017</option>-->
    <!--              <option value="18">2018</option>-->
    <!--              <option value="19">2019</option>-->
    <!--              <option value="20">2020</option>-->
    <!--              <option value="21">2021</option>-->
    <!--              <option value="22">2022</option>-->
    <!--              <option value="23">2023</option>-->
    <!--            </select>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    input placeholder="MM/YY" type="text" name="expiry">-->
    <!--    <div class="form-group">-->
    <!--      <label class="col-sm-3 control-label" for="exp">Expiry</label>-->
    <!--      <div class="col-sm-3">-->
    <!--        <input type="text" class="form-control" id="exp" placeholder="MM/YY">-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="form-group">-->
    <!--      <label class="col-sm-3 control-label" for="cvv">Card CVV</label>-->
    <!--      <div class="col-sm-3">-->
    <!--        <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <input type="hidden" name="price" value="{{amount}}")-->
    <!--    <div class="form-group">-->
    <!--      <div class="col-sm-offset-3 col-sm-9">-->
    <!--        <button type="submit" id="submit-btn" class="btn btn-success">Pay Now</button>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </fieldset>-->
    <!--</form>-->
  <!--      <div class="card-wrapper"></div>-->

  <!--      <div class="form-container active">-->
  <!--          <form role="form" id="product-form" action="/charge" method="post">-->
  <!--            <legend>Payment of {{amount}} to Waylo</legend>-->
  <!--              <input placeholder="Card number" type="text" id="card-number">-->
  <!--              <input placeholder="Full name" type="text" id="card-holder-name">-->
  <!--              <input placeholder="MM/YY" type="text" id="expiry">-->
  <!--              <input placeholder="CVC" type="text" id="cvv">-->
  <!--              <input type="hidden" name="price" value="{{amount}}")>-->

  <!--          </form>-->
  <!--      </div>-->
  <!--</div>-->

    <!--<div class="demo-container">-->
    <!--    <div class="card-wrapper"></div>-->

    <!--    <div class="form-container active">-->
    <!--        <form action="">-->
    <!--            <input placeholder="Card number" type="text" name="number">-->
    <!--            <input placeholder="Full name" type="text" name="name">-->
    <!--            <input placeholder="MM/YY" type="text" name="expiry">-->
    <!--            <input placeholder="CVC" type="text" name="cvc">-->
    <!--        </form>-->
    <!--    </div>-->
    <!--</div>-->

<div class="container">
<div class="row">
<!-- You can make it whatever width you want. I'm making it full width
on <= small devices and 4/12 page width on >= medium devices -->
<div class="col-xs-12 col-md-4">


<!-- CREDIT CARD FORM STARTS HERE -->
<div class="panel panel-default credit-card-box">
<div class="panel-heading display-table" >
<div class="row display-tr" >
<h3 class="panel-title display-td" >Payment Details</h3>
<div class="display-td" >                            
<img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
</div>
</div>                    
</div>
<div class="panel-body">
  <p class="payment-errors" id="form-errors">{{error}}</p>
<form role="form" id="payment-form" action="/charge" method="post">
<div class="row">
<div class="col-xs-12">
<div class="form-group">
<label for="cardNumber">CARD NUMBER</label>
<div class="input-group">
<input 
type="tel"
class="form-control"
id="cardNumber"
placeholder="Valid Card Number"
autocomplete="cc-number"
required autofocus 
/>
<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
</div>
</div>                            
</div>
</div>

<div class="row">
<div class="col-xs-12">
<div class="form-group">
<label for="name">Name on Card</label>
<input type="text" class="form-control" id="name" placeholder="Name on Card" />
</div>
</div>                        
</div>
<div class="row">
<div class="col-xs-7 col-md-7">
<div class="form-group">
<label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
<input 
type="tel" 
class="form-control" 
id="cardExpiry"
placeholder="MM / YY"
autocomplete="cc-exp"
required 
/>
</div>
</div>
<div class="col-xs-5 col-md-5 pull-right">
<div class="form-group">
<label for="cardCVC">CVV</label>
<input 
type="tel" 
class="form-control"
id="cardCVC"
placeholder="CVV"
autocomplete="cc-csc"
required
/>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12">
<div class="form-group">
<label for="couponCode">ZIP CODE</label>
<input type="text" class="form-control" id="couponCode" />
</div>
</div>                        
</div>
<div class="row">
<div class="col-xs-12">
<input type="hidden" name="price" value="{{amount}}">
<button class="btn btn-success btn-lg btn-block" type="submit" id="submit-btn">Pay USD {{amount}}</button>
</div>
</div>
<!--<div class="row" style="display:none;">-->
<!--<div class="col-xs-12">-->
<!--<p class="payment-errors" id="form-errors"></p>-->
<!--</div>-->
<!--</div>-->
</form>
</div>
</div>            
<!-- CREDIT CARD FORM ENDS HERE -->
<div class="card-wrapper"></div>


</div>            



</div>
</div>

{% endblock %}
